---
import { Text } from "../components";
import Card from "./Card.astro";
import Container from "./Container.astro";

const title = "How it works";
const description = "A simple yet effective process";

const steps = [
  {
    index: 1,
    title: "Marketing Plan",
    description:
      "Craft a marketing plan that fits your goals and audience. Define strategies, platforms, and metrics for great results.",
  },
  {
    index: 2,
    title: "Execution",
    description:
      "Our team will handle your marketing strategies, like optimizing your website, running PPC campaigns, engaging with social media, and more to drive traffic and engagement.",
  },
  {
    index: 3,
    title: "Growth & Scale",
    description:
      "Monitoring performance, analyze data, and adjust strategies to scale success and find areas for improvement.",
  },
];
---

<Container>
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-3xl text-center">
    <Text variant="h2">{title}</Text>
    <Text variant="p" color="secondary" className="mt-4">{description}</Text>
    <div class="mt-4 sm:mt-8 space-y-4">
      {
        steps.map((step) => (
          <Card>
            <div class="flex items-start sm:items-center">
              <span class="inline-flex items-center justify-center flex-shrink-0 text-lg sm:text-xl font-bold text-white bg-gray-900 w-10 h-10 sm:w-14 sm:h-14 rounded-xl">
                {step.index}
              </span>
              <div class="ml-4 text-left">
                <Text variant="h3">{step.title}</Text>
                <Text variant="small" color="secondary">
                  {step.description}
                </Text>
              </div>
            </div>
          </Card>
        ))
      }
    </div>
  </div>
</Container>
