---
import { Text } from "../components";
import Card from "./Card.astro";
import Container from "./Container.astro";

const title = "How it works";
const description =
  "We team up with your brand as a growth partner, working closely to craft effective strategies for scalable and profitable brand growth.";

const steps = [
  {
    index: "🗺️",
    title: "Marketing Roadmap",
    description:
      "Collaborate with us on an actionable plan to accomplish your marketing or business goals at every stage of engagement.",
    delay: 200,
  },
  {
    index: "⚙️",
    title: "Brand Development",
    description:
      "Set your organization up for success with a clear and compelling brand vision, voice and visual identity.",
    delay: 400,
  },
  {
    index: "🎨",
    title: "Creative ‍Execution",
    description:
      "Scale your capabilities with a team who understands your brand vision across initiatives, delivering work that’s on time, on budget and on brand.",
    delay: 600,
  },
];
---

<Container>
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-3xl text-center">
    <Text variant="h2">{title}</Text>
    <Text variant="p" color="secondary" className="mt-4">{description}</Text>
    <div class="mt-4 sm:mt-8 space-y-4">
      {
        steps.map((step) => (
          <div data-aos="fade-up" data-aos-delay={step.delay}>
            <Card className="bg-random-egg">
              <div class="flex items-start sm:items-center">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-10 h-10 sm:w-14 sm:h-14 rounded-xl bg-white">
                  <Text variant="h3">{step.index}</Text>
                </div>
                <div class="ml-4 text-left">
                  <Text variant="h3">{step.title}</Text>
                  <Text variant="small" color="secondary">
                    {step.description}
                  </Text>
                </div>
              </div>
            </Card>
          </div>
        ))
      }
    </div>
  </div>
</Container>
