---
import { Text } from "../components";
import Card from "./Card.astro";
import Container from "./Container.astro";

const title = "How it works";
const description =
  "We team up with your brand as a growth partner, working closely to craft effective strategies for scalable and profitable brand growth.";

const steps = [
  {
    index: "01",
    title: "Marketing Roadmap",
    description:
      "Partner with us to collaboratively craft an actionable plan that ensures the achievement of your marketing or business goals at every stage of our engagement.",
  },
  {
    index: "02",
    title: "Brand Development",
    description:
      "Set your organization on a path to success by defining a clear, compelling brand vision, voice, and visual identity that resonates with your audience.",
  },
  {
    index: "03",
    title: "Creative ‍Execution",
    description:
      "Scale your capabilities with a team who understands your brand vision across initiatives, delivering work that’s on time, on budget and on brand.",
  },
];
---

<Container>
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-6xl text-center">
    <div class="max-w-3xl mx-auto">
      <Text variant="h2">{title}</Text>
      <Text variant="p" color="secondary" className="mt-4">
        {description}
      </Text>
    </div>
    <div
      class="mt-4 sm:mt-8 grid grid-cols-1 lg:grid-cols-2 gap-4 items-center"
    >
      <div data-aos="fade-up" class="aspect-square bg-gray-100 rounded-md">
      </div>
      <div class="space-y-4">
        {
          steps.map((step) => (
            <div>
              <Card>
                <div class="flex items-start">
                  <div class="inline-flex items-center justify-center flex-shrink-0 w-10 h-10">
                    <Text variant="h3">{step.index}</Text>
                  </div>
                  <div class="ml-4 text-left">
                    <Text variant="h3">{step.title}</Text>
                    <Text variant="p" color="secondary">
                      {step.description}
                    </Text>
                  </div>
                </div>
              </Card>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Container>
